body { 
	
	background-image: url("https://images2.alphacoders.com/474/thumb-1920-474206.jpg");

} 

h1 {
	text-align:center;
	color:green;


}

nav ul {
	list-style-type: none;
	float: center;
	margin: 0;
	padding:0;
	overflow: hidden;
	
	
	
	
}

nav li a {
	display: block;
	text-decoration: none;
	float: center;
	color:white;
	background-color:green;
	
}

nav {
	float: center;
	text-align: center;
}

nav :hover{
	background-color:red;
}




	

caption {
	caption-side: bottom;
	text-align: center;
	font-size: 30px;
	font-family: arial;
	color: white;
	
}
	table, th, td {
	border:2px solid black;
	border-collapse: collapse;
	font-family: arial;
	font-size: 35px;
	margin: auto;
	color:white;
	
}

.lista {
	color: white;
}

.text1 {
	font-size: 30px;
}
